.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:83%;
    
    margin:20px auto;
}
.nav{
    display: flex;
    align-items: center;
    gap: 50px;
    

}

.nav-list{
    display: flex;
    gap: 20px;

}
.nav-list-child{
    list-style: none;
    
    font-size: 15px;
    font-family: ttregular;
}
.list-link{
    text-decoration: none;
    color: #081D43;

}
.top-but{
    background-color: #0050C8;
    padding: 5px 10px;

    border-radius: 5px;
    border: none;
    
}
.icon{
    display: none;
}
.top-but-link{
    text-decoration: none;
    color: white;
    font-family: ttregular;

}
.header-bottom{
    display: flex;
    margin-top: 50px;
    
    justify-content:space-between;
    padding-left:110px;
    padding-right:110px;
}
.header-bottom-right{
    max-width: 450px;

}
.header-bottom-right-img{
    width: 100%;
    
    object-fit: cover;
    display: block;

}
.header-bottom-left{
    max-width: 450px;
    display: flex;
    flex-flow: column wrap;
    
    justify-content: center;
    align-items: flex-start;
    

}
.header-bottom-left-h2{
    color: #081D43;
    font-family: ttregular;
    font-size: 36px;
    

}
.header-bottom-left-p{
    color: #6C7890;
    font-family: ttregular;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 400px;
    margin-bottom: 30px;

}
.header-bottom-left-but a:nth-child(1){
    text-decoration: none;
    font-family: ttregular;
    font-size: 14px;
    color: white;
    background-color: #87BC25;
    padding: 8px 24px;
    border-radius: 5px;
    margin-right: 10px;

}
.header-bottom-left-but a:nth-child(2){
    text-decoration: none;
    font-family: ttregular;
    font-size: 14px;
    color: white;
    background-color: #2F5BEA;
    padding: 8px 15px;
    border-radius: 5px;

}
.main-top{
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-h3{
    text-align: center;
    color: #6C7890;
    font-size: 15px;
    font-family: ttregular;
    margin-bottom: 20px;

}
.main-h2{
    text-align: center;
    color: #081D43;
    font-size: 30px;
    font-family: ttmedium;
    font-weight: normal;


}
.main-center{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    column-gap: 100px;

}
.main-center-child{
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    row-gap: 10px;

}
.main-center-child-h3{
    color: #081D43;
     font-size: 18px;
    font-family: ttregular;


}
.main-center-child-p{
    color: #6C7890;
    font-size: 16px;
    font-family: ttregular;
    text-align: center;
    line-height: 30px;

}
.main-bottom{
    width: 30%;
    margin: 30px auto;
}
.main-bottom-img{
   max-width: 100%;
    object-fit: cover;

    
}
.parent{
    width: 100%;
    background-color: #2F5BEA;
    min-height: 600px;

}

.comment-top-h2{
    color: #FFFFFF;
    font-family: ttmedium;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;

}
.comment-top-p{
     color: #FFFFFF;
    font-family: ttlight;
    font-size: 14px;
    text-align: center;


}
.comment-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.comment-center-box{
    background-color: #FFFFFF;
    max-width: 256px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.comment-center-box-p{
    font-size: 13px;
    font-family: times;
    color: #7E8085;
    line-height:22px;
    text-align: left;
    padding: 15px 15px 0 15px;
    
}
.line{
    width: 100%;
    height: 1px;
    background-color: #7E8085;
    opacity: 0.2;
    margin-top:40px;
}
.comment-center-box-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    
}

.comment-center-box-bottom-p{
    font-size: 12px;
    font-family: ttregular;
    color: #000000;
    
}
.comment-bottom{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: end;
    max-width:808px ;
    min-height: 100px;
    margin: 20px auto;

}
.main-end{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 750px;

}
.main-end-h4{
    font-size: 15px;
    font-family: ttregular;
    color: #6C7890;
    text-align: center;
}
.main-end-h2{
    font-size: 30px;
    font-family: ttmedium;
    color: #081D43;
    text-align: center;
    font-weight: normal;
    

}
.main-end-imgs{
     display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0 20px 0;
}
.main-end-img{
    max-width: 100%;
}
.footer{
    width: 100%;
    background-color: #2C57E4;
    min-height: 277px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.footer-top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    padding-left:110px;
    padding-right:110px;
    
    
    
}
.footer-top-p{
    color: white;
    font-size: 25px;
    font-family: ttregular;
    
}
.footer-top-search{
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    
}
.footer-top-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: ttregular;
    
}
.footer-top-search-but{
    background-color: #2F5BEA;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-bottem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding-left:110px;
    padding-right:110px;

}
.footer-bottem-h4{
    font-size: 14px;
    font-family: ttregular;
    color: #6C7890;
    font-weight: normal;

}
@media screen and (max-width:1200px) {
    .top-but{
        display: none;
    }
    .header-bottom{
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        padding: 0;
    }
    .header-bottom-right{
        order: -1;
    }
   .header-bottom-left-but{
    max-width: 400px;
    display: flex;
    justify-content: center;
   }
   .header-bottom-left{
    align-items: center;
    justify-content: center;
   }
   .header-bottom-left-h2{
    text-align: center;
   }
   .footer-top{
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
   }
   .footer-top-p{
    text-align: center;
   }

   
    
}
@media screen and (max-width:992px) {
    .comment-bottom{
    
    align-items: center;
    
   

}
.footer-top-p{
    font-size: 18px;
   }
   .footer-bottem{
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    
   }
   .footer-bottem-h4{
    margin: 10px;
   }
    
}
@media screen and (max-width:768px) {
   .nav-list{
    display: none;
   }
   .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
   }
   .header-bottom-left-h2{
    font-size: 25px;
    text-align: center;
   }
   .main-h2{
    font-size: 25px;
   }
   .main-center{
    row-gap: 20px;
   }
   .comment-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 20px;
   

}

  
   
}
@media screen and (max-width:576px) {
    .header-bottom-left-h2{
    font-size: 20px;
   

   }
   .header-bottom-left-p{
    font-size: 12px;
    line-height: 20px;
    

   }
   .header-bottom-left-but a:nth-child(1){
    font-size: 10px;
     
       display:flex;
       justify-content:center;
       align-items:center;
       margin-right: 0;
   }
   .header-bottom-left-but a:nth-child(2){
    font-size: 10px;
    
       display:flex;
       justify-content:center;
       align-items:center;
   }
   .header-bottom-left-but{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
   }
   .main-h2{
    font-size: 20px;
   }
   .main-center-child-p{
    font-size: 12px;
    line-height: 20px;
   }
   .main-center-child-h3{
    font-size: 16px;
   }
   .main-end-h2{
    font-size: 20px;
   }
   
   .main-bottom{
    width: 80%;
    
}
  
   
   
    
}
@media screen and (max-width:360px){
    .footer-top-search-input{
        padding-right: 0;
        padding-left: 0;
    }

}
